.mainHead{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#reactHead{
  margin-top: -10vh;
}

.todoHolder{
  width: 40vw;
  height: 50vh;
  padding: 30px;
}

.form-control{
  width: 105%;
  height: 6vh;
}

.list{
  width: 103%;
}

.deleteButton{
  height: 4vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  color:white;
  background-color:red;

}

li{
  list-style: none;
  width: 100%;
  margin: 10px;
  background-color: rgb(95, 95, 95);
  padding: 5px;
  border-radius: 10px;
  height: 6vh;
}

@media screen and (max-width:600px){
  .todoHolder{
    width: 100vw;
  }

  .form-control{
    height: 4.5vh;
  }

  #reactHead{
    margin-top: -3vh;
  }

  li{
    margin-top: 2vh;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


